.App {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.pusher {
    height: 150vh;
}

.ctn {
    display: flex;
    justify-content: center;
}

.left-title {
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 700%;
}

.left {
    font-size: 100px;
    color: rgb(99, 99, 99);
}

.right {
    font-size: 100px;
    color: rgb(175, 175, 175);
}

.main-ctn {
    margin-bottom: 25vh;
}

.l {
    font-size: 40px;
    color: rgb(99, 99, 99);
}

.r {
    font-size: 40px;
    color: rgb(175, 175, 175);
}
